<table>
  <tr>
    <td> User </td>
    <td> Metric Value </td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td> <%= "#{user.first_name} #{user.last_name}" %> </td>
      <td> <%= user.value.to_i %> </td>
    </tr>
  <% end -%>
</table>
