<table>
  <tr>
    <td> User </td>
    <td> Metric Value </td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <% if !user.value_id -%>
      <td> <%= link_to "#{user.first_name} #{user.last_name}", "/users/#{user.id}/metrics/#{@metric_id}" %> </td>
      <% else -%>
      <td> <%= link_to "#{user.first_name} #{user.last_name}", "/users/#{user.id}/metrics/#{@metric_id}/values/#{user.value_id}" %> </td>
      <% end -%>
      <td> <%= user.value.to_i %> </td>
    </tr>
  <% end -%>
</table>
</br>
<span> <%= link_to "Back to Metric List", root_path %> </span>
