<table>
  <tr>
      <td> Metric Name </td>
  </tr>
    <% @metrics.each do |metric| %>
    <tr>
      <td> <%= link_to metric.name, "/metrics/#{metric.href.split('metrics/')[1]}" %> </td>
    </tr>
    <% end -%>
</table>
